<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Contrast IDE"
            id="com.contrastsecurity.ide.eclipse.ui">
      </category>
      <view
            name="Vulnerabilities"
            icon="icons/ContrastIcon16px.png"
            category="com.contrastsecurity.ide.eclipse.ui"
            class="com.contrastsecurity.ide.eclipse.ui.internal.views.VulnerabilitiesView"
            id="com.contrastsecurity.ide.eclipse.ui.views.VulnerabilitiesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="com.contrastsecurity.ide.eclipse.ui.views.VulnerabilitiesView">
         </view>
      </perspectiveExtension>
   </extension>
   
    <extension point="org.eclipse.ui.preferencePages">
      <page 
         class="com.contrastsecurity.ide.eclipse.ui.internal.preferences.ContrastPreferencesPage" 
         id="com.contrastsecurity.ide.eclipse.ui.internal.preferences.ContrastPreferencesPage" 
         name="Contrast">
      </page>
   </extension>

</plugin>
